@import url('./partials/grid.css');
@import url('./partials/typography.css');
@import url('./partials/header.css');
@import url('./partials/footer.css');
.container {
    max-width: 920px;
    margin: auto;
    margin-top: 50px;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas: "hd" "main" "side" "ft";
}

button {
    background-color: #6EA3C5;
    border: none;
    border-radius: 8px;
}

body {
    background-color: lightgray;
}

.box {
    border: 5px #017A9B;
    background: #B2CEE0;
    margin: 5px;
    border-radius: 15px;
    padding: 20px;
}

aside {
    grid-area: side;
}

@media(min-width: 900px) {
    .container {
        display: grid;
        grid-template-columns: 300px 300px 1fr;
        grid-template-rows: 120px 1fr 120px;
        grid-template-areas: "hd hd hd hd hd hd hd hd" "main main main main main main side side" "ft ft ft ft ft ft ft ft";
    }
}