@import url('./partials/grid.css');
@import url('./partials/typography.css');
@import url('./partials/header.css');
@import url('./partials/footer.css');
.container {
    max-width: 920px;
    margin: auto;
    margin-top: 50px;
}

button {
    background-color: #6EA3C5;
    border: none;
    border-radius: 8px;
}

body {
    background-color: lightgray;
}

figure {
    margin: 0;
}

#nested-Grid article {
    background-color: #E5EFF5;
    padding: 15px;
    margin: 5px;
    border-radius: 20px;
}

#nested-Grid article a {
    display: block;
    margin-top: 12px;
}

.box {
    border: 5px #017A9B;
    background: #B2CEE0;
    margin: 5px;
    border-radius: 15px;
    padding: 20px;
}