body {
    background-color: lightgray;
    font-size: 24px;
}

.container {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 100px 350px 600px 100px;
    grid-template-areas: "hd hd hd hd hd hd hd hd" "feat feat feat feat feat feat feat feat" "main main main main main main main main" "ft ft ft ft ft ft ft ft";
    border: 2px solid #0F2B3D;
}

.box {
    border: 5px #017A9B;
    background: #02B3E4;
    margin: 5px;
    border-radius: 20px;
    padding: 10px;
}

.header {
    grid-area: hd;
}

.footer {
    grid-area: ft;
}

.feature {
    grid-area: feat;
}

.content {
    grid-area: main;
}